<h1>Profile</h1>

<p>Hi all! My name is Anh Hoang, I created this portal with Angular to present my profile</p>

<p>My Github: <a href="https://github.com/htta17">https://github.com/htta17</a></p>


<p>This page is being developing with Angular, and API service is <a href="https://anhhoang.life">https://anhhoang.life</a>, being developing with NodeJS (Express). Both 
  sites are deployed in Azure</p>

<p>Some techniques I am using</p>

<ul>
  API
  <li>NodeJS</li>
  <li>MongoDB for database</li>
  <li>AWS SES for sending email to me</li>
  <li>Swagger for Documentation</li>
  <li>Apache Kafka/Flink for streaming. What content? I don't know, will be need one. lol</li>
  <li>Azure Web App for CI/CD</li>
</ul>


<ul>UI
  <li>Angular</li>
  <li>Azure Static Web App</li>  
</ul>